{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block action %}
{% if "/edit/" in request.path %}
    "{% url 'task:edit' task.id %}"
{% else %}
    "{% url 'task:create' %}"
{% endif %}
{% endblock %}

{% block content %}
    <br><h1>{{ title }}</h1><br>
    <form method="post" action="{{action}}" >
        {% csrf_token %}
        {{ form.title }} <br>
        {{ form.task }} <br>
        <button type="submit" class="btn btn-warning" >Сохранить</button>
        {% if "/edit/" in request.path %}
            <a class="btn btn-danger" href="{% url 'task:delete' task.id %}">Удалить</a>
        {% endif %}
        {{ error }}
    </form>
{% endblock %}