{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <br><h1>{{ title }}</h1><br>
    <form method="post">
        {% csrf_token %}
        {{ form.title }} <br>
        {{ form.task }} <br>
        <button type="submit" class="btn btn-warning" >Сохранить</button>
        {% if edit %}
            <a class="btn btn-danger" href="{% url 'edit' %}?id={{ task_id }}&mode='del'">Удалить</a>
        {% endif %}
        {{ error }}
    </form>
{% endblock %}