{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <br><h1>{{ title }}</h1><br>
    <form method="post" action="{% url 'task:delete' task.id %}">
        {% csrf_token %}
        <div style="margin:auto; width:50%" align="center">
            <h3>Вы уверены, что хотите <br>
                удалить задачу "{{ task.title }}"?</h3><br>
            <button type="submit" class="btn btn-danger" >Да</button> &nbsp
            <a class="btn btn-warning" href="{% url 'task:edit' task.id %}">Нет</a>
        </div>
    </form>
{% endblock %}